

/* 기본 태그 스타일 */
body, p {
    margin: 0;  padding: 0;   
    font-family: 'Noto Sans KR', sans-serif; }
a, a:link, a:hover, a:visited
{
    color: #000000;
    text-decoration: none;
}
header {
    position: relative;
    margin: 0 auto;  /* position이 relative인 요소를 가운데 배치하는 방법 */
    height: 100px;
    width: 100%;
    color: #000000;
    background-color:#d9d7ff ;
}
main{
    width: 100%;
    height: 605px;
    margin: 0 auto;
    background-image: url("웹디배경2.png");
}
footer {
    position: absolute;
    width: 100%;
    height: 48px;
    background-color : #cfb7f8
}

/* header 영역 스타일 */
#logo {
    position: relative;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    /* background-color: #ffffff; */
}
#mainmenu {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -120px;
    left: 100px; transform: translateX(-50%);
    text-align: center;
    /* background-color: #fff; */
}
#mainmenu > ul {
    display: inline-block;
    margin: 0; padding: 0;
    list-style-type: none;
}
#mainmenu > ul a:link,
#mainmenu > ul a:visited
{
    text-decoration: none;
    color:#000000
}
#mainmenu > ul a:hover
{
    text-decoration: underline;
    color: #ffc800;
}
#mainmenu > ul li {
    float: left;
    padding: 0 24px;
    /* background-color: #fff;
    border: solid 1px #000; */
}
#mainmenu > ul li:hover {
    /* background-color: #ffffff; */
}

/* main 영역 스타일 */

/* footer 영역 스타일 */
#copyright {
    position: absolute;
    left: 50%; transform: translateX(-50%);
    font-size: 1.0em;
    bottom: 16px;
    color:#000000 ;
}

@media screen and (max-width: 600px) {

    #mainmenu {
        position: absolute;
        width: 500px;
        height: 24px;
        left: 65%; transform: translateX(-50%);
        bottom: -50px;
        text-align: center;
        /* background-color: #fff; */    
    }
}
@media screen and (max-width: 360px) {
    #mainmenu {
        position: absolute;
        width: 500px;
        height: 24px;
        left: 65%; transform: translateX(-50%);
        bottom: -50px;
        text-align: center;
        /* background-color: #fff; */    
    }
}